dn: {{ openldap_suffix }}
objectClass: top
objectClass: dcObject
objectClass: organization
o: Anarchy Cluster
dc: local

dn: {{ openldap_rootdn }}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: Manager
description: LDAP Administrator
userPassword: {{ ldap_root_password_hash }}

dn: ou=People,{{ openldap_suffix }}
objectClass: organizationalUnit
ou: People

dn: ou=Group,{{ openldap_suffix }}
objectClass: organizationalUnit
ou: Group

{% if openldap_ppolicy_enabled | default(false) %}
dn: cn=Default,ou=Policies,{{ openldap_suffix }}
objectClass: top
objectClass: pwdPolicy
cn: Default
pwdMaxAge: 0
pwdInHistory: 0
pwdCheckQuality: 1
pwdMinLength: 8
pwdMaxFailure: 5
pwdLockout: TRUE
pwdLockoutDuration: 900
pwdAllowUserChange: TRUE
pwdExpireWarning: 604800
{% endif %}
