# ldap proxy config# load required modules
dn: cn=module{0},cn=config
changetype: modify
add: olcModuleLoad
olcModuleLoad: back_ldap.la
-
add: olcModuleLoad
olcModuleLoad: back_meta.la

dn: olcDatabase={2}meta,cn=config
changetype: add
objectClass: olcDatabaseConfig
objectClass: olcMetaConfig
olcDatabase: meta
olcSuffix: dc=cluster
olcAddContentAcl: FALSE
olcRootDN: cn=manager,dc=cluster
olcRootPW: {{ ldap_root_password_hash.stdout }}

dn: olcMetaSub={0}uri,olcDatabase={2}meta,cn=config
changetype: add
objectClass: olcMetaTargetConfig
olcMetaSub: {0}uri
olcDbURI: "ldapi:///{{ openldap_suffix }},dc=cluster" ldaps://{{ inventory_hostname }}
olcDbIDAssertAuthzFrom: dn:{{ openldap_rootdn }}
olcDbIDAssertBind: mode=self
  flags=non-prescriptive
  bindmethod=simple
  binddn="{{ openldap_rootdn }}"
  credentials={{ obol_ldap_password }}
olcDbRewrite: {0}suffixmassage "{{ openldap_suffix }},dc=cluster" "{{ openldap_suffix }}"
