---
# This file contains variables that are global to all playbooks
# in this repository.


# Any alerts, events and notifications will be sent to this email address:

administrator_email: 'root@localhost'


# -----------------------------------------------------------------------
# Anarchy version number

anarchy_version: '0.1'

# What stream to follow. Stable is the default and recommended.
anarchy_stream: 'stable'

# -----------------------------------------------------------------------
# Project ID or string that'll show up in the default
# prompt on the controllers.

project_id: '000000'


#########################################################################
#                           Cloud Details                               #
#########################################################################

# Cloud provisioning is currently disabled by default.
cloud_install: false


# Which Cloud Providers need to be used for this installation.

azure_cloud: false # azure not supported yet. keep at false
aws_cloud: false  # aws not supported yet. keep at false
gcp_cloud: false  # gcp not supported yet. keep at false
openstack_cloud: false # openstack not supported yet. keep at false

# Detailed configuration can be found in group_vars/<cloud>.yml
# Please consider configuring these yml files, before proceeding

# -----------------------------------------------------------------------
# optional overrides. If not defined or left empty, ansible attempts to figure
# out the IP address on the outside (AS) of your network. This variable is
# used by cloud VPN.

# cloud_local_external_as_ip:


#########################################################################
#                         High Availability                             #
#########################################################################

# Do we want HA?
# Set to 'False' to disable HA, set to 'True' to enable it.

ha: false

# -----------------------------------------------------------------------
# whether we want to use ipmi for H/A fencing

enable_ipmilan_fencing: true

# -----------------------------------------------------------------------
# IPMI H/A fencing credentials. Used in conjunction with HA
# Being ignored if setting enable_ipmilan_fencing is set to false

fence_ipmilan_login: 'user'
fence_ipmilan_passwd: 'password'

# note: the $ character is not support in the ipmilan login or passwd

# -----------------------------------------------------------------------
# Whether or not to configure the corosync heartbeat link (ring 1)
# Requires correct configured trix_ctrlX_heartbeat_ip.

enable_heartbeat_link: true


#########################################################################
#                         Network configuration                         #
#########################################################################

# A domain name to be assigned to the controller(s) and nodes
# on the internal network.
# Luna's provisioning network name will be set to the same value.

anarchy_domain: cluster


# -----------------------------------------------------------------------
# Internal network definitions and the DHCP range used to to PXE boot
# the compute nodes. Also Infiniband IPoIB and bmc/ipmi networks.

anarchy_cluster_net: 10.141.0.0
anarchy_cluster_netprefix: 16
anarchy_cluster_dhcp_start: 10.141.128.0
anarchy_cluster_dhcp_end: 10.141.140.0

anarchy_infiniband_net: 10.149.0.0
anarchy_infiniband_netprefix: 16

anarchy_bmc_net: 10.148.0.0
anarchy_bmc_netprefix: 16


# -----------------------------------------------------------------------
# Default hostname and IP for the controller
# In an H/A pair, those are the hostname and IP for the first controller.
# Those variables are required, with or without HA.

anarchy_ctrl1_ip: 10.141.255.254
anarchy_ctrl1_bmcip: 10.148.255.254
anarchy_ctrl1_heartbeat_ip: 10.146.255.254
anarchy_ctrl1_hostname: controller1

# In a non-H/A setup, all of the following variables will be ignored:
# - the variables for CTRL will be set to the same as CTRL1;
# - the variables for CTRL2 will be ignored.

# Hostname and IP of the second controller

anarchy_ctrl2_ip: 10.141.255.253
anarchy_ctrl2_bmcip: 10.148.255.253
anarchy_ctrl2_heartbeat_ip: 10.146.255.253
anarchy_ctrl2_hostname: controller2

# Floating hostname and IP

anarchy_ctrl_ip: 10.141.255.252
anarchy_ctrl_hostname: controller


# -----------------------------------------------------------------------
# Optional overrides when defaults do not fullfil what's expected
# When left undefined or empty, ansible will use the IP/network address
# assigned to the interface where the default route is defined for.
# anarchy_ctrl_external_network is used for e.g. cloud VPN.

# anarchy_ctrl_external_ip:
# anarchy_ctrl_external_network: # w.x.y.z/nn


# -----------------------------------------------------------------------
# HA: Configure a floating ip address on the external interfaces (read:
# outbound interfaces) as well. The anarchy_ctrl_external_nic can be set
# but is optional. AnarchyHPC tries to figure this out based on the default
# route, which most likely uses the preferred external nic. If netprefix is
# not given, it'll be tried by looking at anarchy_ctrl_external_network.

# anarchy_ctrl_external_nic:         # e.g. ens192
# anarchy_ctrl_external_floating_ip: # w.x.y.z


# -----------------------------------------------------------------------
# quasi optional hostname/fqdn to be used for services that are outward facing,
# like open-ondemand. This hostname is in most scenarios the fqdn of the host,
# but this can be overridden if external resolution/name differs.

anarchy_anarchy_external_fqdn: ''


# -----------------------------------------------------------------------
# optional hostname/fqdn only needed when building a login image
# based on the login-default.yml playbook.

anarchy_login_fqdn: ''


# -----------------------------------------------------------------------
# DNS forwarders. These should normally point to your organization's DNS servers.

anarchy_dns_forwarders: 
  - "8.8.8.8"
  - "8.8.4.4"


# -----------------------------------------------------------------------
# Default search domains to be added to /etc/resolv.conf
# __CLOUD__ is a placeholder for the cloud domains if applicable.
# It will be searched/replaced for the actual configured domains.
# This placeholder will be removed and can be ignored safely.

anarchy_resolv_search_domains: '{{ anarchy_domain }} __CLOUD__ ib ipmi'


#########################################################################
#                          Paths configuration                          #
#########################################################################
#
# Path to which the customizable AnarchyHPC files will be installed.
# If not set, it will default to /

anarchy_root: '/anarchy'

# The AnarchyHPC root contains multiple subdirectories for different uses:
# - anarchy_images For the compute node images
# - anarchy_shared for everything shared by the controllers to the nodes
# - anarchy_local for configuration files specific to each machine. This one
#              is not listed and hard configured to /anarchy/local.
# - anarchy_home for the user home directories
#
# The partitioning on the controller must be set up before starting the installation.
#
# By default those exist under anarchy_root. There are some cases where this is not
# desirable; the following variables allow you to override the default paths.
# WARNING: use with caution! Not all deviating combinations are tested and
# may render problems.

anarchy_images: '{{ anarchy_root }}/images'
anarchy_shared: '{{ anarchy_root }}/shared'
anarchy_ha: '{{ anarchy_root }}/ha'
anarchy_home: '{{ anarchy_root }}/home'
anarchy_repos: '{{ anarchy_root }}/repos'
anarchy_ohpc: '{{ anarchy_root }}/ohpc'
anarchy_easybuild: '{{ anarchy_root }}/easybuild'
anarchy_licenses: '{{ anarchy_shared }}/licenses'
anarchy_docs: '{{ anarchy_shared }}/docs'
anarchy_examples: '{{ anarchy_shared }}/examples'
anarchy_modulefiles: '{{ anarchy_shared }}/modulefiles'


#########################################################################
#                      Shared Disk configuration                        #
#########################################################################

# Backend type and block device to use for the specified backend.
# Works in conjunction with H/A. Combinations are supported.
# 'type' can be: drbd, nfs, iscsi or direct (e.g. multipath).
# 'fstype' can be: ext4, xfs or any regular filesystem
#                  but also lvm or zfs. In this case
#                  partitions have to be defined.
# When 'type' is set to 'manual', this indicates that this is being
# taken care off outside AnarchyHPC

# --- examples:
#
# shared_fs_disks: 
#   - name: 'ZFS1'
#     type: 'drbd'
#     disk: '/dev/sda4'
#     device: '/dev/drbd4'
#     fstype: 'zfs'
#     partitions:
#     - name: '/anarchy/other'
#       fsoptions: '-o xattr=sa'
#
#   - name: 'LVM1'
#     type: 'drbd'
#     disk: '/dev/sda3'
#     device: '/dev/drbd3'
#     fstype: 'lvm'
#     partitions:
#     - mount: '{{ anarchy_shared }}'
#       size: '20480M'
#       fstype: 'ext4'
#       fsoptions: '-b 4096'
#       xmount: true
#     - mount: '{{ anarchy_ohpc }}'
#       size: '10240M'
#       fstype: 'ext4'
#       fsoptions: '-b 4096'
#
#   - name: 'Home directories'
#     mount: '{{ anarchy_home }}'
#     type: 'drbd'
#     disk: '/dev/sda2'
#     device: '/dev/drbd2'
#     fstype: 'ext4'
#     fsoptions: '-b 4096 -O quota -E quotatype=usrquota:grpquota'
#     mountoptions: 'quota,usrquota,grpquota'
#     xmount: true
#
#   - name: 'LVM2'
#     type: 'iscsi'
#     fstype: 'lvm'
#     portal: '192.168.0.1'
#     target: 'iqn.2003-01.org.linux-iscsi.iscsi-host.x8664:sn.693ca380655e'
#     partitions:
#     - mount: '/anarchy/ext1'
#       size: '8192M'
#       fstype: 'ext4'
#       fsoptions: '-b 4096'
#
#   - name: 'LVM3'
#     type: 'direct'
#     device: /dev/sdz
#     fstype: 'lvm'
#     partitions:
#     - mount: '/anarchy/ext2'
#       size: '16384M'
#       fstype: 'ext4'
#       fsoptions: '-b 4096'
#
#   - name: '{{ anarchy_home }}'
#     mount: '{{ anarchy_home }}'
#     type: 'nfs'
#     remote: '192.168.0.1:/homes'
#     mountoptions: 'nfsvers=4,rw,retrans=4,_netdev'
#
#   - name: '{{ anarchy_home }}'
#     type: 'manual'
#

# As an absolute bare minimum anarchy_ha requires a shared disk.
# For anarchy_home, anarchy_shared, anarchy_easybuild and anarchy_ohpc it comes extremely highly
# recommended to have a shared disk as well. Below is what's
# considered a standard shared disk configuration. Note that /dev/vda
# needs to be configured to be a real disk which is 100% equal
# on each controller when using drbd.

# !! formerly known parameter 'options' has been renamed into 'fsoptions'.
# !! mountoptions was introduced to allow pcs to mount a disk according to these.

shared_fs_disks:
  - name: 'anarchyhpc'
    type: 'drbd'
    disk: '/dev/vda'
    device: '/dev/drbd0'
    fstype: 'zfs'
    partitions:
    - mount: '{{ anarchy_home }}'
      fsoptions: '-o xattr=sa'
      xmount: true
    - mount: '{{ anarchy_shared }}'
      fsoptions: '-o xattr=sa'
      xmount: true
    - mount: '{{ anarchy_ohpc }}'
      fsoptions: '-o xattr=sa'
      xmount: true
    - mount: '{{ anarchy_easybuild }}'
      fsoptions: '-o xattr=sa'
      xmount: true
    - mount: '{{ anarchy_ha }}'
      fsoptions: '-o xattr=sa'
    

# shared_fs_prefix is used in combination with xmount: true (cross mount);
# you want all controllers to be able to mount the shared disks, using NFS,
# through the shared ip.
# when xmount is false or shared_fs_prefix is empty, this functionality
# will be disabled and shared_fs_disks will be mounted like AnarchyHPC 14.x,
# only on the active controller.
# Note: this settings only affects drbd, iscsi and direct mounted disks.

shared_fs_prefix: '{{ anarchy_root }}/mounts'


#########################################################################
#                     Luna specific configuration                       #
#########################################################################

# Luna credentials. These !! SHOULD !! be changed.

luna_username: luna
luna_password: luna


# luna's default communication protocol
# options are: http and https
# by default the system is using the certificates provides and signed by self-signed CV root ca
# in this case we do not verify the certificate

luna_protocol: https
luna_verify_certificate: false


#########################################################################
#                        Firewall configuration                         #
#########################################################################

# Default firewalld configuration
# Only public tcp/udp ports are allowed on the public interfaces
# whereas everything is allowed on the trusted interfaces

firewalld_public_interfaces: [ens3]
firewalld_trusted_interfaces: [ens6]
firewalld_public_tcp_ports: [22, 443]
firewalld_public_udp_ports: []

# *Note* that depending on selection of roles, the following ports will be open as well:
# Grafana:       3000/tcp
# Uchiwa/Sensu:  3001/tcp
# Open-ondemand: 8080/tcp


#########################################################################
#                        Groups and certificates                        #
#########################################################################

# Admin group is used to give privileges to the members of this group.
# It's used for logins, ood and others.

admin_group: admins


# -----------------------------------------------------------------------
# Path in which the generated certificates for the cluster will be installed.
# ssl_cert_group refers to the UNIX group that has read access to the certs.

ssl_cert_path: '{{ anarchy_local }}/etc/ssl'
ssl_ca_cert: '{{ ssl_cert_path }}/cluster-ca.crt'
ssl_ca_key: '{{ ssl_cert_path }}/cluster-ca.key'
ssl_cert_group: ssl


#########################################################################
#                           LDAP backend                                #
#########################################################################

# the backend is set default to openldap but can be set to ds389 for
# experimental purposes.
# Note: for RedHat, Rocky and Alma distributions of version 10+,
# the backend is set to ds389 as a default

anarchy_ldap_backend: 'openldap'


#########################################################################
#                           Open Ondemand                               #
#########################################################################

# Choose the auth provider for Open OnDemand
# - pam
# - dex  ( only openldap is configured for dex )
# Note that setting enable_authentication to false, implies 'pam' here.

ood_authentication_provider: 'dex'


# -----------------------------------------------------------------------
# Optional overrides for Open OnDemand

ood_enable_interactive_apps:
  - codeserver #(Third party)
  - jupyter #(Third party)
  - desktop


#########################################################################
#                           Miscellaneous                               #
#########################################################################

# OpenHPC repositories. commonly used for openhpc and schedulers

# --- for EL8:
anarchy_el8_openhpc_repositories:
  - name: base
    repo: http://repos.openhpc.community/OpenHPC/2/EL_8/
    gpgcheck: false
  - name: updates
    repo: http://repos.openhpc.community/OpenHPC/2/update.2.9.1/EL_8/
    gpgcheck: false

# --- for EL9:
anarchy_el9_openhpc_repositories:
  - name: base
    repo: http://repos.openhpc.community/OpenHPC/3/EL_9/
    gpgcheck: false
  - name: updates
    repo: http://repos.openhpc.community/OpenHPC/3/update.3.3.1/EL_9/
    gpgcheck: false

# --- for EL10:
anarchy_el10_openhpc_repositories:
  - name: base
    repo: http://repos.openhpc.community/OpenHPC/4/EL_10/
    gpgcheck: false


# -----------------------------------------------------------------------
# set the default target for images. 
# available: graphical and multi-user

anarchy_image_default_target: 'multi-user'


# =======================================================================
# The following variables give the ability to enable or disable
# certain features in AnarchyHPC:


# -----------------------------------------------------------------------
# Whether or not to enable SELinux throughout the cluster

enable_selinux: true


# -----------------------------------------------------------------------
# List of additional environment modules to install

additional_env_modules: []


# -----------------------------------------------------------------------
# install Open Ondemand and its components

enable_ood: true


# -----------------------------------------------------------------------
# Install userspace packages from OpenHPC project
# Note: ohpc is not supported for EL10 release

enable_openhpc: true


# -----------------------------------------------------------------------
# Default workload manager. Currently supported are:
# - slurm
# - pbspro
# - k3s   <-- unselected by default. For Kubernetes support, please uncomment
#             the k3s line in the below workload_manager.

workload_manager: 
  - 'slurm'
#  - 'k3s'

# -----------------------------------------------------------------------
# Whether or not to enable Slurm PAM module
# If enabled, sssd's ldap filters will be disabled on the compute nodes

enable_slurm_pam: true


# -----------------------------------------------------------------------
# Whether we install and prepare the easybuild environment

enable_easybuild: false
export_easybuild: 'rw'

# -----------------------------------------------------------------------
# whether we need to configure our ldap, sssd and other things (true)
# or we use an external manually configured authentication mechanism (false)

enable_authentication: true



# -----------------------------------------------------------------------
# DO NOT REMOVE: yml check: 150300
