---
# This file contains variables that are global to all playbooks
# in this repository.

administrator_email: '{{ administrator_email }}'

#########################################################################
#                           Anarchy Version                             #
#########################################################################

anarchy_version: '{{ anarchy_version }}'
anarchy_stream: '{{ anarchy_stream }}'

#########################################################################
#                           Project Details                             #
#########################################################################

project_id: '{{ project_id }}'

#########################################################################
#                           Cloud Details                               #
#########################################################################

azure_cloud: {{ azure_cloud }}
{% if azure_cloud and azure_cluster_net is defined %}
azure_controller: {{ azure_controller if azure_controller is defined else False }}
azure_cluster_net: {{ azure_cluster_net }}
azure_cluster_netprefix: {{ azure_cluster_netprefix }}
{% if azure_ctrl_hostname is defined %}
azure_ctrl_hostname: {{ azure_ctrl_hostname }}
azure_ctrl_ip: {{ azure_ctrl_ip }}
{% endif %}
{% endif %}

aws_cloud: {{ aws_cloud }}
{% if aws_cloud and aws_cluster_net is defined %}
aws_controller: {{ aws_controller if aws_controller is defined else False }}
aws_cluster_net: {{ aws_cluster_net }}
aws_cluster_netprefix: {{ aws_cluster_netprefix }}
{% if aws_ctrl_hostname is defined %}
aws_ctrl_hostname: {{ aws_ctrl_hostname }}
aws_ctrl_ip: {{ aws_ctrl_ip }}
{% endif %}
{% endif %}

gcp_cloud: {{ gcp_cloud }}
{% if gcp_cloud and gcp_cluster_net is defined %}
gcp_controller: {{ gcp_controller if gcp_controller is defined else False }}
gcp_cluster_net: {{ gcp_cluster_net }}
gcp_cluster_netprefix: {{ gcp_cluster_netprefix }}
{% if gcp_ctrl_hostname is defined %}
gcp_ctrl_hostname: {{ gcp_ctrl_hostname }}
gcp_ctrl_ip: {{ gcp_ctrl_ip }}
{% endif %}
{% endif %}

#########################################################################
#                         High Availability                             #
#########################################################################

ha: {{ ha }}

#########################################################################
#                         Domain & Networks                             #
#########################################################################

anarchy_domain: {{ anarchy_domain }}

anarchy_cluster_net: {{ anarchy_cluster_net }}
anarchy_cluster_netprefix: {{ anarchy_cluster_netprefix }}
anarchy_cluster_dhcp_start: {{ anarchy_cluster_dhcp_start }}
anarchy_cluster_dhcp_end: {{ anarchy_cluster_dhcp_end }}

anarchy_infiniband_net: {{ anarchy_infiniband_net }}
anarchy_infiniband_netprefix: {{ anarchy_infiniband_netprefix }}

anarchy_bmc_net: {{ anarchy_bmc_net }}
anarchy_bmc_netprefix: {{ anarchy_bmc_netprefix }}

#########################################################################
#                         Controller Details                            #
#########################################################################

anarchy_ctrl1_ip: {{ anarchy_ctrl1_ip }}
anarchy_ctrl1_bmcip: {{ anarchy_ctrl1_bmcip }}
anarchy_ctrl1_heartbeat_ip: {{ anarchy_ctrl1_heartbeat_ip }}
anarchy_ctrl1_hostname: {{ anarchy_ctrl1_hostname }}

anarchy_ctrl2_ip: {{ anarchy_ctrl2_ip }}
anarchy_ctrl2_bmcip: {{ anarchy_ctrl2_bmcip }}
anarchy_ctrl2_heartbeat_ip: {{ anarchy_ctrl2_heartbeat_ip }}
anarchy_ctrl2_hostname: {{ anarchy_ctrl2_hostname }}

anarchy_ctrl_ip: {{ anarchy_ctrl_ip }}
anarchy_ctrl_hostname: {{ anarchy_ctrl_hostname }}

anarchy_anarchy_external_fqdn: {{ anarchy_anarchy_external_fqdn }}

#########################################################################
#                           DNS & Resolver                              #
#########################################################################

anarchy_dns_forwarders: {{ anarchy_dns_forwarders }}
anarchy_resolv_search_domains: {{ anarchy_resolv_search_domains }}

#########################################################################
#                           Directory Layout                            #
#########################################################################

anarchy_root: '{{ anarchy_root }}'

anarchy_images: '{{ anarchy_root }}/images'
anarchy_shared: '{{ anarchy_root }}/shared'
anarchy_ha: '{{ anarchy_root }}/ha'
anarchy_home: '{{ anarchy_root }}/home'
anarchy_repos: '{{ anarchy_root }}/repos'
anarchy_ohpc: '{{ anarchy_root }}/ohpc'
anarchy_licenses: '{{ anarchy_shared }}/licenses'
anarchy_docs: '{{ anarchy_shared }}/docs'
anarchy_examples: '{{ anarchy_shared }}/examples'
anarchy_modulefiles: '{{ anarchy_shared }}/modulefiles'

#########################################################################
#                       Controller Authentication                       #
#########################################################################

controller_auth_username: {{ controller_auth_username }}
controller_auth_password: {{ controller_auth_password }}

controller_auth_protocol: {{ controller_auth_protocol }}
controller_auth_verify_certificate: {{ controller_auth_verify_certificate }}

#########################################################################
#                           Firewall Defaults                           #
#########################################################################

firewalld_public_interfaces: [ens3]
firewalld_trusted_interfaces: [ens6]
firewalld_public_tcp_ports: [22, 443]
firewalld_public_udp_ports: []

#########################################################################
#                           Admin Group                                 #
#########################################################################

admin_group: {{ admin_group }}

#########################################################################
#                           SSL Certificates                            #
#########################################################################

ssl_cert_path: '{{ anarchy_local }}/etc/ssl'
ssl_ca_cert: '{{ ssl_cert_path }}/cluster-ca.crt'
ssl_cert_group: ssl

#########################################################################
#                           SELinux                                     #
#########################################################################

enable_selinux: {{ enable_selinux }}

# DO NOT REMOVE: yml check: 999999
