[defaults]
host_key_checking = False
inventory = hosts,/etc/ansible/hosts,dynamic_hosts
retry_files_enabled = False
log_path = /var/log/anarchy.log

roles_path = ./roles/anarchy:./roles/ansible:./roles/cloud:./roles/vpn:./roles
