#!/bin/bash

/usr/bin/aria2c \
  --summary-interval=600 \
  --enable-dht=false \
  --seed-ratio=100000.0 \
  -V \
  -d {{ shared_files }}/ \
  --check-certificate=false \
  {{ shared_files }}/*.torrent

# other useful options are:
# --no-conf
# --console-log-level=error
# --log-level=error
# --download-result=hide
# --summary-interval=0
