%{{ood_apps_admin_group}} ALL=(ALL) NOPASSWD: /usr/sbin/lchroot
%{{ood_apps_admin_group}} ALL=(ALL) NOPASSWD: /bin/bash -c /usr/sbin/lchroot *
%{{ood_apps_admin_group}} ALL=(ALL) NOPASSWD: /bin/rm {{ anarchy_images }}/*/tmp/lchroot.lock
