#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

global:
  {{ prometheus_server_global | to_nice_yaml(indent=2,sort_keys=False) | indent(2, False) }}
  external_labels:
    {{ prometheus_server_external_labels | to_nice_yaml(indent=2,sort_keys=False) | indent(4, False) }}

rule_files:
  - {{ prometheus_server_config_dir }}/rules/*.rules

{% if prometheus_server_alertmanagers | length > 0 %}
alerting:
  alert_relabel_configs:
    - action: labeldrop
      regex: "instance"

  alertmanagers:
    - static_configs:
  {% for alertmanager in prometheus_server_alertmanagers %}
        - targets:
          - {{ alertmanager.target }}
  {% if alertmanager.get('tls', {}).get('enabled', False) %}
      scheme: https
  {% endif %}
  {% if alertmanager.get('tls', {}).get('insecure_skip_verify', False) %}
      tls_config:
        insecure_skip_verify: true
  {% endif %}
  {% if alertmanager.get('basic_auth', False) %}
      basic_auth:
        username: {{ alertmanager.basic_auth.credentials_file.rsplit('.', 1)[0] | basename }}
        password: {{ lookup('password', alertmanager.basic_auth.credentials_file, chars='ascii_letters,digits,hexdigits') }}
  {% endif %}
  {% endfor %}
{% endif %}

scrape_configs:

  # -------------------------
  # Node Exporter (all nodes)
  # -------------------------
  - job_name: node_exporter
    static_configs:
      - targets:
{% for host in groups['all'] %}
        - {{ hostvars[host]['ansible_host'] }}:9100
{% endfor %}

  # -------------------------
  # IPMI Exporter (optional)
  # -------------------------
  - job_name: ipmi_exporter
    static_configs:
      - targets:
{% for host in groups['compute'] %}
        - {{ hostvars[host]['ansible_host'] }}:9290
{% endfor %}

  # -------------------------
  # Slurm Exporter (optional)
  # -------------------------
  - job_name: slurm_exporter
    static_configs:
      - targets:
        - {{ slurmctld_host }}:8080

  # -------------------------
  # NVIDIA GPU Exporter (optional)
  # -------------------------
  - job_name: nvidia_exporter
    static_configs:
      - targets:
{% for host in groups['gpu'] | default([]) %}
        - {{ hostvars[host]['ansible_host'] }}:9400
{% endfor %}

  # -------------------------
  # Additional SD (if needed)
  # -------------------------
{{ prometheus_server_additional_sd | default([]) | to_nice_yaml(indent=2,sort_keys=False) | indent(2, True) }}
