[opensuse-oss]
name=OpenSUSE Leap {{ opensuse_release|default('16.0') }} - OSS
enabled=1
autorefresh=1
baseurl=https://download.opensuse.org/distribution/leap/{{ opensuse_release|default('16.0') }}/repo/oss/
type=rpm-md
gpgcheck=0
