[SLE-Module-Basesystem]
name=SLE Basesystem Module {{ sles_version }}
enabled=1
autorefresh=1
baseurl=https://updates.suse.com/SUSE/Products/SLE-Module-Basesystem/{{ sles_version }}/x86_64/product/
type=rpm-md
gpgcheck=1
