# Serving AnarchyHPC provided repositories

server {
    listen       {{ repos_port }} default_server;
    server_name  _;

    location /{{ anarchy_repos|basename() }} {
        root {{ anarchy_repos|regex_replace('/[^/]*$','') }};
        autoindex on;
    }

}

